body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

#mario {
    width: 20%;
}

#luigi {
    width: 20%;
}

#peach {
    width: 20%;
}

#goomba, 
#Goomba,
#goombaHealth {
    width: 15%;
}

#paratroopa,
#paraTroopa,  
#ptHealth {
    width: 15%;
}

#wario,
#warioHealth{
    width: 20%;
} 

#koopaTroopa,
#KoopaTroopa,
#koopaHealth {
    width: 20%;
}

#bigBoo,
#booHealth {
    width: 20%;
}

#bowser,
#bowserHealth {
    width: 25%; 
}

.progress {
    width: 15%;
    margin-bottom: 10px;
}

#attack {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-left: 500px;
    margin-top: 50px;
    width: 175px;
    height: 85px;
}

#reset {
    margin-left: 1300px;
    margin-top: 25px;
    width: 125px;
    height: 50px;
    font-size: 18px;
}

#action {
    width: 500px;
    height: 400px;
    background-color: wheat;
    border-color: black;
    position: absolute;
    margin-left: 400px;
    margin-top: -250px;
}

#gameOver, #winner {
    width: 500px;
    height: 400px;
}
